 
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 
<div class="stats-small stats-small--1 card card-small">
                  <div class="card-body p-0 d-flex hvr-reveal">
                    <div class="d-flex flex-column m-auto">
                      <div class="stats-small__data text-center">
                        <span class="stats-small__label text-uppercase">{{cardname}}</span>
                        <h6 class="stats-small__value count my-3">{{carddata}}</h6>
                      </div>
                      
                    </div>
                   
                  </div>
                </div>