 <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Dashboard</span>
                <h3 class="page-title">AWS Services</h3>
              </div>
            </div>

            <!-- End Page Header -->
            <!-- Small Stats Blocks -->
            <div class="row">
              <div class="col-lg col-md-6 col-sm-6 mb-4  animated pulse slow">
               <app-card  routerLink="/S3board" [cardname]="'Bucketss'" [carddata]="noofbuckets()"></app-card>
              </div>
              <div class="col-lg col-md-6 col-sm-6 mb-4 animated pulse slow">
                <app-card  routerLink="/IAMboard" [cardname]="'Users'" [carddata]="noofusers()"></app-card>
              </div>
              <div class="col-lg col-md-4 col-sm-6 mb-4 animated pulse slow">
                <app-card routerLink="/EC2board" [cardname]="'Instances'" [carddata]="noofinstances()"></app-card>
              </div>
              <div class="col-lg col-md-4 col-sm-6 mb-4 animated pulse slow">
               <app-card  routerLink="/CWboard"[cardname]="'Alarms'" [carddata]="noofalarms()"></app-card>
              </div>

              <div class="col-lg col-md-4 col-sm-12 mb-4 animated pulse slow">
                <app-card routerLink="/RDSboard" [cardname]="'Databases'" [carddata]="noofdatabases()"></app-card>
              </div>
            </div>
        <div class="row">
              <div class="col-lg col-md-6 col-sm-6 mb-4  animated zoomInDown slow">
               <app-card  [cardname]="'Buckets'" [carddata]='56'></app-card>
              </div>
              
            </div>